<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Events</title>
    <%- include('../templates/head.ejs') %>
</head>

<body>
    <%- include('../templates/header.ejs', {active: 'events' }) %>
        <main>
            <h1>Events</h1>
            <% if(events.length) { %>
                <table>
                    <thead>
                        <th>#</th>
                        <th>Stage</th>
                        <th>Performare</th>
                        <th>Date</th>
                        <th>Time</th>
                    </thead>
                    <tbody>
                        <% for(let event of events){ %>
                            <tr>
                                <td>
                                    <%= event.Id %>
                                </td>
                                <td>
                                    <%= event.StageId %>
                                </td>
                                <td>
                                    <%= event.PerformareId %>
                                </td>
                                <td>
                                    <%= event.Date %>
                                </td>
                                <td>
                                    <%= event.Time %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% } else { %>
                    <div>No Events Available...</div>
                    <% } %>
        </main>
</body>

</html>