<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Of Events</title>
  <%- include('templates/head.ejs') %>
</head>

<body>
  <%- include('templates/header.ejs', {active: 'events' }) %>
    <main>
      <h1>Event</h1>
      <hr />
      <div class="center">
        <% if(event !=null) { %>
          <!--You have to make it flex-->
          <div class="justify-content-space-around">
            <div>
              <!--Actor-->
              <img src="<%= event.PerformerImageUrl %>" alt="<%= event.PerformerName %>" style="width:250px">

              <h2> Actors:
                <%= event.PerformerName %>
                  </h1>
            </div>
            <div>
              <!--Stage-->
              <img src="<%= event.StageImageUrl %>" alt="<%= event.StageName %>" style="width:250px">
              <h2> Stage: <%= event.StageName %>
              </h2>
            </div>
          </div>




          <h3>Date: <%= event.Date %></h3>
          <h3>Time: <%= event.Time %></h3>

          <!--Flex-->
          <% } else { %>
            <div>No Event Available...</div>
            <% } %>
      </div>
    </main>
</body>

</html>