<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <%- include('templates/head.ejs') %>
</head>

<body>
  <%- include('templates/header.ejs', {active: 'home' }) %>
  <main>
    
    <% if(events.length) { %>
    <div class="flex-container">
      <% for(let event of events){ %>
      <div class="card">
        <img src="<%= event.PerformerImageUrl %>" alt="<%= event.PerformerName %>" style="width:100%">
        <h1><%= event.PerformerName %></h1>
        <p> On Stage: <%= event.StageName %></p>
        <p>Date: <%= event.Date %></p>
        <p>Time: <%= event.Time %></p>
        <p><a class="button" href="/event/<%= event.Id %>">More...</a></p>
      </div>

      <% } %>
    </div>
    <% } else { %>
    <div>No Events Available...</div>
    <% } %>
  </main>
  <%- include('templates/footer.ejs') %>
</body>

</html>