<div>
  <a href="/" class="" title="Home page logo">
    <img class="logo" src="/image/festival-logo.jpg" />
  </a>
</div>
<div class="navbar">
  <a class="<%= active == 'home' ? 'active' : 'default' %> " href="/"><i class="fa fa-fw fa-home"></i> Home</a>
  <a class="<%= active == 'performers' ? 'active' : 'default' %> " href="/performer"><i class="fa fa-fw  fa-users"></i> Performers</a>
  <a class="<%= active == 'stages' ? 'active' : 'default' %> " href="/stage"><i class="fa fa-fw fa-music"></i> Stages</a>
  <a class="<%= active == 'faq' ? 'active' : 'default' %>  " href="/faq"><i class="fa fa-fw fa-question-circle"></i> FAQs</a>
  <a class="<%= active == 'contactus' ? 'active' : 'default' %>  " href="/contactus"><i class="fa fa-fw fa-phone-square"></i> Contact Us</a>
</div>